@font-face {
  font-family: "iconfont"; /* Project id 3162958 */
  src: url('iconfont.woff2?t=1643182447773') format('woff2'),
       url('iconfont.woff?t=1643182447773') format('woff'),
       url('iconfont.ttf?t=1643182447773') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e637";
}

.icon-arrow-down:before {
  content: "\e665";
}

